body{
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(175, 246, 228, 0.38) 100%);

    min-height: 100vh;
}

.page{
    width: 1000px;
    margin: 0 auto 0;
    padding-top: 65px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 55px;
    
}

ul{
    display: flex;
    gap: 48px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, ul{
    font-family: 'Mulish', sans-serif;
}

ul li a:hover{
    font-weight: bold;
    color: #000;
}

ul li a{
    transition: all 0.3s ease;
    color: #a3a3a3;
    text-decoration: none;
}

span{
    color: #89C5CC;
    font-weight: bold;
}

h1{
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    width: 490px;
    margin-bottom: 40px;
}

p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    width: 500px;
    margin-bottom: 40px;
}

button{
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    
    
    background: #69B99D;
    border: none;
    padding: 14px 32px 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    border-radius: 4px; 
}

button:hover{
    background: #276a52;
    transition: all 0.3s ease;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/*quando o display é colocado como flex, os objetos são colocados um ai lado do outro*/
main{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

